<ion-view view-title="personal" hide-nav-bar="true">
	<style type="text/css">
	.personal_top {
      width: 100%;
      height:4rem;
      position: relative;
      font-size:0.36rem;
      background:url(img/per_bg.jpg) no-repeat;
      background-size:100% 100%;
    }
  
    .person_box{width:2rem; height: 2.8rem;margin: 0 auto; position:absolute;top:1.5rem;left: 35%;}
    .person_img{width:1rem; height:1rem; margin:0 auto;}
    h3{text-align:center;
    font-size:0.36rem; color:#fff; font-family:"微软雅黑"}
	</style>
	<ion-content>
		<div class="bar bar-header">
    	<h1 class="title">我的</h1>
    	</div>
		<div class="personal_top">
				<div class="person_box">
					<div class="person_img "><img src="img/logo.png" width="100%" height="auto"></div>
				<h3>未登录</h3>
				</div>
		</div>
		<div class="list">
			<div class="item item-icon-left">
				<i class="icon ion-person"></i>个人中心
				<span class="item-note">></span>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-android-bookmark"></i>文章收藏
				<span class="item-note">></span>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-android-document"></i>我的订阅
				<span class="item-note">></span>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-android-clipboard"></i>阅读笔记
				<span class="item-note">></span>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-ios-personadd"></i>邀请激活
				<span class="item-note">></span>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-gear-a"></i>系统设置
				<span class="item-note">></span>
			</div>
		</div>
	</ion-content>
</ion-view>