<ion-view hide-nav-bar view-title="登录">
	<ion-content class="padding">
		<div class="row responsive-sm padding">
			<h1 style="text-align: center;color: #fff;font-size: 1rem;"></h1>
			<div style="height: 3rem;"><img src="img/logo.png" style="width:2rem;height: 2rem;position: absolute;left: 50%;margin-left: -1rem;"/></div>
			<div class="list list-inset" style="opacity: 0.5;">
				
				<label class="item item-input"><input type="text" placeholder="请输入手机号/用户名" /></label>
				<label class="item item-input"><input type="text" placeholder="请输入密码" /></label>
			</div>
			<div class="loginButton"><button class="button button-block button-positive">登录</button></div>
			<div class="row">
				<div class="col-10"><a class="item" style="background: none; border:none;padding-left:0" href="#/tab/register">注册</a></div>
				<a class="col-10 item" style="background: none; border:none;text-align: right;">忘记密码</a>
			</div>
		</div>
	</ion-content>
</ion-view>