<ion-view hide-nav-bar view-title="注册">
	<ion-content class="padding">
		<div class="row responsive-sm padding">
			<h1 style="text-align: center;color: #fff;font-size: 1rem;"></h1>
			<div style="height: 3rem;"><img src="img/logo.png" style="width:2rem;height: 2rem;position: absolute;left: 50%;margin-left: -1rem;"/></div>
			<div class="list list-inset" style="opacity: 0.5;">
				<label class="item item-input"><input type="text" placeholder="您的昵称" /></label>
				<label class="item item-input"><input type="text" placeholder="请输入手机号" /></label>
				<label class="item item-input"><input type="text" placeholder="请设置6-16位的密码" /></label>
				<label class="item item-input"><input type="password" placeholder="确认密码" /></label>
			</div>
			<div class="loginButton"><button class="button button-block button-positive">注册</button></div>
		</div>
	</ion-content>
</ion-view>
