<ion-view view-title="书架" hide-nav-bar="true">
	<div class="bar bar-header">
  <a style="line-height: 0.85rem;">更多</a>
  <ul style="width: 3.6rem;line-height: 0.6rem;color:#b0b0b0;margin-left: 0.8rem;border: 1px solid #b0b0b0;text-align: center;border-radius: 5px;">
  	<li style="float: left;width: 1.78rem;line-height:0.64rem;border-right: 1px solid #b0b0b0;background: #b0b0b0;color: white;">杂志</li>
  	<li style="float: left;width: 1.78rem;">图书</li>
  </ul>
  <a style="position: absolute;right: 0;line-height: 0.85rem;">编辑</a>
</div>
<ion-content>
	<div style="background: #e7ebee;height: 10rem;margin-top: 0.8rem;"><img src="img/book_bg.png" style="height: 6rem;width: 100%;margin-top: 2rem;"/></div>
</ion-content>
</ion-view>
