<ion-view view-title="发现" hide-nav-bar="true">
	<style type="text/css">
		.row{
			text-align: center;
		}
		.col div i{
			font-size: 1rem;
			color: white;
		}
		.col h2{
			font-size: 0.3rem;
			color: white;
		}
		.col h1{
			font-size: 0.22rem;
		}
	</style>
	<div class="bar bar-header">
    	<h1 class="title">发现</h1>
    </div>
  <ion-content>
    
    <div style="width: 100%; height: 2.68rem;margin-top: 0.8rem;">
    	  <img src="img/chats01.png" style="width: 100%; height: 3rem;"/>
    </div>
  
      <div class="row" style="background:#68b6fe;">
         	<div class="col col-25">
            <div>
            	<i class="ion-ios-book"></i>
            </div>
            <h2>精品期刊</h2>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-android-document"></i>
            </div>
            <h2>版权图书</h2>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-android-bookmark"></i>
            </div>
            <h2>知识订阅</h2>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-leaf"></i>
            </div>
            <h2>每周精品</h2>
          </div>
      </div>
      <div>
      <div class="row">
         	<div class="col col-25">
            <div>
            	<i class="ion-android-cloud" style="color:#1c8ee0;"></i>
            </div>
            <h1>天气</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-android-bus" style="color:#f39c12;"></i>
            </div>
            <h1>公交</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-film-marker" style="color:#1abc9c;"></i>
            </div>
            <h1>电影</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-filing" style="color:#e64737;"></i>
            </div>
            <h1>快递</h1>
          </div>
      </div>
      </div>
      <div class="row">
         	<div class="col col-25">
            <div>
            	<i class="ion-android-add-circle" style="color:#e64737;"></i>
            </div>
            <h1>挂号</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-android-subway" style="color:#1c8ee0;"></i>
            </div>
            <h1>火车</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-plane" style="color:#f39c12;"></i>
            </div>
            <h1>航班</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-ios-grid-view" style="color:#e64737;"></i>
            </div>
            <h1>酒店</h1>
          </div>
      </div>
      <div class="row">
         	<div class="col col-25">
            <div>
            	<i class="ion-model-s" style="color:#f39c12;"></i>
            </div>
            <h1>代驾</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-flag" style="color:#1abc9c;"></i>
            </div>
            <h1>停车</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-quote" style="color:#e64737;"></i>
            </div>
            <h1>加油</h1>
          </div>
          <div class="col col-25">
            <div>
            	<i class="ion-search" style="color:#1c8ee0;"></i>
            </div>
            <h1>企业信息查询</h1>
          </div>
      </div>
  </ion-content>
</ion-view>
