<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 观点 -->
  <ion-tab title="观点" icon-off="ion-aperture" icon-on="ion-aperture" href="#/tab/viewpoint">
    <ion-nav-view name="tab-viewpoint"></ion-nav-view>
  </ion-tab>

  <!-- 发现 -->
  <ion-tab title="发现" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/discover">
    <ion-nav-view name="tab-discover"></ion-nav-view>
  </ion-tab>

  <!-- 书架 -->
  <ion-tab title="书架" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/bookrack">
    <ion-nav-view name="tab-bookrack"></ion-nav-view>
  </ion-tab>

	<!--我的-->
<ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>
</ion-tabs>
